<!-- A partial to be overwritten by the user.
     Its content will appear before the closing </head>-tag -->

<!-- Custom CSS via inline styles
     You may use this template to add custom CSS to your site like so: -->
<style>
@import url('https://fonts.googleapis.com/css2?family=Antonio&display=swap');


:root {
    /* see variables.scss for more variables*/
    --cover-text-color: #F2CB2D;
    --cover-title-text-shadow: #020E3E 2px 2px 2px;
    --highlight: #fefae8;

    --sticky-menu-text-color: #fefae8;

    --section-light-text-color: #0D2153!important;
    --section-light-bg-color: #C99E05!important;
    --section-dark-text-color: #e4c134;
    --section-dark-bg-color: #020E3E!important;

    --footer-color-background: #1c1d24;
    --footer-color: #afb5c1;

     --ul-li-icon: fa-dashcube;     /* this sets fa-dashcube as list icon */
     --ul-li-icon: ;                /* this sets the default html list icon */
}

#site-head {
     height: 100svh;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 0;
     margin: 0;

     video {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          min-width: 100%;
          min-height: 100%;
          -o-object-fit: cover;
          object-fit: cover;
          z-index: -100;
     }
}

#site-head, #site-head.withCenteredImage {
     .blog-title {
          font-family: "Antonio", sans-serif;
          font-optical-sizing: auto;
          font-size: 6rem;
          font-weight: 400;
          font-style: normal;
          margin-bottom: 4rem;
     }
     .blog-description {
          font-size: 1.7rem;
          font-family: sans-serif;
     }

     .vertical:before {
          content: '';
          position: absolute;
          top:0;
          right:0;
          left:0;
          bottom:0;
          height: 100%;
          width: 100%;
          background: linear-gradient(30deg,rgba(4, 1, 73, 0.7),rgba(4, 7, 77, 0.8));
     }

     #header-arrow {
          display: none;
     }

}

.fixed-nav {
     border-radius: 0;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
}

li {
     margin-left: 0;
}

h5 {
     margin: 5rem 0 2.5rem;
}

.post-title {
     text-align: center;
     margin: 6rem 0 10rem 0;
}

</style>

<!-- Custom CSS via "custom.css"-file
     If you would rather place your custom CSS into
     a separate file, create a "custom.css" in your
     local "static/css"-directory. Then add a <link>-tag
     referencing your "custom.css" like so: -->

<!-- <link rel="stylesheet" href='{{ "css/custom.css" | absURL }}'> -->

<!-- Custom CSS: Color Codes
     You may checkout https://htmlcolorcodes.com/ to get those
     weird color codes (like "#22343A") ;-). -->

<!-- Custom link-tags for different icons
     Generated via https://favicon.io/favicon-generator/ -->

{{ with resources.Get "images/apple-touch-icon.png" }}<link rel="apple-touch-icon" sizes="180x180" href="{{ .RelPermalink }}" />{{ end }}
{{ with resources.Get "images/favicon.svg" }}<link rel="icon" type="image/svg+xml" href="{{ .RelPermalink }}" />{{ end }}
{{ range seq 9 4 }}{{ $size := pow 2 . }}{{ $file := replace "images/favicon-##x##.png" "##" $size }}{{ with resources.Get $file }}
<link rel="icon" type="{{ .MediaType.Type }}" sizes="{{- $size -}}x{{- $size -}}" href="{{ .RelPermalink }}" />{{ end }}{{ end }}

